:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

*:focus {
  outline: none!important;
}

.radio>label, .radio>label>button {
  -webkit-transition:border .15s ease-in-out,background-color .15s ease-in-out;
  -o-transition:border .15s ease-in-out,background-color .15s ease-in-out;
  transition:border .15s ease-in-out,background-color .15s ease-in-out;
}

.detail:before {
  content: " ";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  left: 20px;
  top: -5px;
  transform: rotate(45deg);
  background-color: inherit;
}

.fx > input,
.fx > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.fx > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.fx input::-webkit-input-placeholder {
  color: transparent;
}

.fx input:-ms-input-placeholder {
  color: transparent;
}

.fx input::-ms-input-placeholder {
  color: transparent;
}

.fx input::-moz-placeholder {
  color: transparent;
}

.fx input::placeholder {
  color: transparent;
}

.fx input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.fx input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
